* {
    border-radius: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
  

  }
  
  body {
    background: #fff6f4;
    
    
    
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
   
    

	
  }
  
  .grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #ea4784;
    color: #eee;
    
  }
  
  .grid-container > button:hover {
    background-color: #ffaff4;
    color: #111;
   
    
    
  }
  
  .grid-container > .operator {
    background: #653e62;
    
    
  }
  
  .span-two {
    grid-column: span 2;
    
  }
  
  .grid-container > .output {
    grid-column: 1 / -1;
    background: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
  }
  
  .grid-container > .output > .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    
  }
  
  .grid-container > .output > .current-operand {
    color: white;
    font-size: 2.5rem;
    
  }